
.appHomeContainer {
  text-align: center;
  padding: 20px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.pageButton {
  min-width: 0.75rem;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.75rem;
}
