
.appHomeContainer {
  text-align: center;
  padding: 20px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.pageButton {
  min-width: 0.75rem;
}

.buttonContainer{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  height: 1.75rem;
}
