.button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: var(--button-hover-background);
  transform: scale(1.05);
}

button:disabled {
  background-color: #ccc;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: not-allowed;
}