.button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--button-hover-background);
}

button:disabled {
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: not-allowed;
}