.cadastroContainer {
  max-width: 90vw;
  padding: 40px;
  background-color: var(--container-background);
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* button {
  grid-column: span 2;
} */

@media (min-width: 768px) {
  .cadastroContainer {
    max-width: 800px;
    margin: 0 auto;
  }
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}