.container {
  background-color: var(--container-background);
  width: fit-content;
  height: fit-content;
  margin: 0 1rem;
  padding: 20px;
  border-radius: 20px;
  /* background-image: url('../assets/texture/white-grungy-wall-textured-background_53876-103916.avif');
  background-size:contain;
  background-blend-mode:multiply;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}