.card {
  background-color: var(--container-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  max-width: 100%;
}

.card .pet-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .pet-photo {
  border: 0.3rem solid #DFA430;
  /* adicionar box-shadow, mas fazendo uma sombra clara, um glow */
  box-shadow: 0 0 8px #DFA430;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card .label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.card .value {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  /* background-color: var(--button-background); */
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
}
