.crecheContainer {
  margin-top: -5vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.searchContainer {
  background-color: var(--button-background);
  border-radius: 20px;
  background-color: '--container-background';
  max-width: 1200px;
  padding: 20px;
  margin: 10px auto;
}

.cardsContainer {
  background-color: var(--button-background);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.crecheCard {
  margin-bottom: 20px;
}
