.crecheContainer {
  margin-top: -5vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.searchContainer {
  display: flex;
  justify-content:space-between;
  background-color: var(--button-background);
  border-radius: 20px;
  background-color: '--container-background';
  max-width: 1200px;
  padding: 20px;
  margin: 10px auto;
}

.cameraButton {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cameraButton:hover {
  background-color: var(--button-hover-background);
}

.cardsContainer {
  background-color: var(--button-background);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.crecheCard {
  margin-bottom: 20px;
}
