.creche-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pet-card {
  background-color: var(--button-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  margin-top: 20px; /* Espaço adicional para não colar no header */
}

.mascotinho-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.pet-info {
  text-align: center;
  margin-bottom: 10px;
}

.pet-photo-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.bw {
  filter: grayscale(100%);
}

.select-button {
  background-color: var(--button-background);
  font-size: 1rem;

  color: var(--text-color);
  padding: 0.6rem;
  border: none;
  border-radius: 1.2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-button:hover {
  background-color: var(--button-hover-background);
}
