.editarPetContainer {
  max-width: 90vw;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--container-background);
  border-radius: 20px;
}

.editarPetForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .editarPetContainer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .editarPetForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
