.filtroContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .filtroContainer input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    font-size: 1rem;
  }
  
  .filtroContainer input:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-shadow);
  }
  