:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --button-background: #1f1f1f;
  --button-color: #ffffff;
  --button-hover-background: #333333;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #f1f1f1;
  --button-color: #000000;
  --button-hover-background: #dddddd;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-background);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .pet-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .pet-photo {
  border: 3px solid #DFA430;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card .label {
  font-weight: normal;
  margin-bottom: 5px;
}

.card .value {
  font-weight: bold;
  margin-bottom: 10px;
}

.card .select-button {
  margin-top: 10px;
}

.header {
  background-color: var(--button-background);
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
