:root {
  --primary-color: #1f1f1f;
  --secondary-color: #2a2a2a;
  --background-color: #121212;
  --text-color: #ffffff;
  --input-background: #2a2a2a;
  --input-border: #555555;
  --button-background: #3a3a3a;
  --button-hover-background: #4a4a4a;
  --button-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  margin: 100px auto 60px;
  max-width: 1200px;
  padding: 0 20px;
}

header, footer {
  background-color: var(--primary-color);
  color: var(--button-color);
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  height: 40px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  background-color: var(--button-background);
  border: none;
  border-radius: 10px;
  color: var(--button-color);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-buttons button:hover {
  background-color: var(--button-hover-background);
}

.footer {
  background-color: var(--primary-color);
  color: var(--button-color);
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 360px;
}

.button:hover {
  background-color: var(--button-hover-background);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  background-color: var(--input-background);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--input-border);
  background-color: var(--input-background);
}
