.header {
  background-color: var(--button-background);
  color: var(--button-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.logo img {
  height: 40px;
  display: block;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.li {
  position: relative;
}

.link {
  color: var(--button-color);
  text-decoration: none;
  font-size: 1rem;
}

.hamburger {
  display: block;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--button-color);
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: center;
  }

  .ul {
    flex-direction: row;
    gap: 20px;
  }

  .hamburger {
    display: none;
  }
}
