.header {
  background-color: var(--primary-color);
  color: var(--button-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  height: 40px;
  margin-right: 10px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  background-color: var(--button-background);
  border: none;
  border-radius: 10px;
  color: var(--button-color);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-buttons button:hover {
  background-color: var(--button-hover-background);
}
