.header {
  background-color: var(--button-background);
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.logo img {
  height: 40px;
}
