.header {
  background-color: var(--button-background);
  color: var(--button-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hamburger {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
}

.ul {
  display: flex;
  gap: 20px;
}

.li {
  list-style: none;
}

.link {
  color: var(--button-color);
  text-decoration: none;
}

.login-icon {
  color: var(--button-color);
  text-decoration: none;
  font-size: 24px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .logo {
    order: 1;
    margin: 0 auto;
  }
  .login-icon {
    order: 2;
  }
  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--button-background);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  .nav.open {
    display: flex;
  }
  .ul {
    flex-direction: column;
    gap: 10px;
  }
}
