.login-container {
  max-width: 60vw; /* Usa 80% da largura da viewport */
  min-width: 100px; 
  margin: 5vh auto; /* Usa 5% da altura da viewport para margem superior e inferior */
  padding: 2rem; /* Usa unidades rem para padding */
  background-color: var(--container-background);
  color: var(--text-color);
  border-radius: 0.5rem; /* Usa unidades rem para border-radius */
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Usa unidades rem para gap */
  width: 100%;
}

label {
  font-size: 1rem; /* Aumenta o tamanho da fonte da label */
  margin-bottom: 0.5rem;
  display: block; /* Garante que a label seja exibida como bloco */
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--button-hover-background);
  font-size: 1rem; /* Usa unidades rem para o tamanho da fonte */
}

button {
  padding: 1rem;
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-background);
}
