.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--button-background);
  color: var(--button-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--button-color);
  cursor: pointer;
  display: none;
}

.hamburger.open {
  color: var(--button-hover-background);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--button-background);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
}

.nav.open {
  display: flex;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.li {
  margin: 10px 0;
}

.link {
  color: var(--button-color);
  text-decoration: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav {
    position: static;
    display: flex;
    flex-direction: row;
    background: none;
  }

  .ul {
    flex-direction: row;
  }

  .li {
    margin: 0 10px;
  }
}
