.menu-container {
  position: relative;
  z-index: 9999;
}

.hamburger {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger.open {
  transform: rotate(90deg);
}

.nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--button-background);
  position: absolute;
  top: 3rem;
  left: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.nav.open {
  display: flex;
  max-height: 50vh;
  opacity: 1;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.li {
  padding: 0.5rem 0;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem; /* Usa 1rem para tamanho da fonte */
}
