.menuContainer {
  position: relative;
  z-index: 9999;
  width: 8vh;
}

.hamburger {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  font-size: 6vh;
  width: 8vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  left: 4vh; /* Ajustar conforme necessário */
  top: 4vh; /* Ajustar conforme necessário */
}

.hamburgerOpen {
  transform: rotate(90deg);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--button-background);
  position: fixed;
  top: 13vh; /* Ajustar conforme necessário */
  left: 4vh; /* Ajustar conforme necessário */
  min-width: 20vh;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.navOpen {
  max-height: 50vh;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.li {
  padding: 0.5rem 0;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem; /* Usa 1rem para tamanho da fonte */
}
