/* Estilos gerais */
.registrosContainer {
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--container-background);
  color: var(--text-color);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Botão de Alimentação */
.alimentacaoButton {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: linear-gradient(var(--yellow-logo), var(--yellow-logo-dark));
  position: relative;
  cursor: pointer;
  padding: 0.4rem;
  border: none;
  outline: none; /* Remove outline */
  overflow: hidden; /* Evita que sombras excedam o botão */

  /* Sombra externa para simular efeito convexo */
  box-shadow:
    inset 0 2px 3px rgba(255, 255, 255, 0.13),
    0 5px 8px rgba(0, 0, 0, 0.5),
    0 10px 10px 4px rgba(0, 0, 0, 0.3);
  
  /* Transições para interatividade */
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

/* Remover qualquer transformação no hover */
.alimentacaoButton:hover {
  /* Apenas garantir que o cursor continue como pointer */
  cursor: pointer;
  transform: none;
  box-shadow:
    inset 0 2px 3px rgba(255, 255, 255, 0.13),
    0 5px 8px rgba(0, 0, 0, 0.5),
    0 10px 10px 4px rgba(0, 0, 0, 0.3); /* Mantém a sombra original */
}

/* Remover borda no foco e active */
.alimentacaoButton:focus,
.alimentacaoButton:active {
  outline: none;
  border: none;
}

/* Pseudo-elemento ::after para sombras internas */
.alimentacaoButton::after {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  top: -1rem;
  bottom: -1rem;
  z-index: -2;
  border-radius: inherit;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 10px rgba(0, 0, 0, 0.15);
}

/* Pseudo-elemento ::before para sombras adicionais */
.alimentacaoButton::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  right: -0.5rem;
  top: -0.5rem;
  bottom: -0.5rem;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.13);
  filter: blur(1px);
}

/* Inner container */
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    var(--yellow-logo-dark),
    var(--yellow-logo)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 -2px 5px rgba(255, 255, 255, 0.05),
    0 2px 5px rgba(255, 255, 255, 0.1);
}

/* Inner after for subtle overlay */
.inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #e0e0e0);
  border-radius: inherit;
  opacity: 0.1;
  pointer-events: none;
}

/* Estilização do SVG */
.alimentacaoButton .alimentacaoIcon {
  width: 2rem;
  height: 2rem;
  fill: white; /* Define a cor do SVG */
  mix-blend-mode: multiply;
  opacity: 0.75;
  transition: opacity 0.2s ease;
}

/* Efeito ao clicar (active) */
.alimentacaoButton:active {
  /* Diminui levemente de tamanho e move 2px para baixo */
  transform: scale(0.98) translateY(2px);
  
  /* Ajusta a sombra para simular o botão sendo pressionado */
  box-shadow:
    inset 0 2px 3px rgba(255, 255, 255, 0.13),
    0 2px 4px rgba(0, 0, 0, 0.3),
    0 4px 8px rgba(0, 0, 0, 0.2);
  
  /* Transições suaves */
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

/* Modal Animation */
@keyframes modalAppear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalDisappear {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* Classe para animação de aparecer com atraso */
.modalAppear {
  animation: modalAppear 0.3s ease-out forwards;
  animation-delay: 0.3s; /* 0.3s de atraso */
}

/* Classe para animação de desaparecer */
.modalDisappear {
  animation: modalDisappear 0.3s ease-in forwards;
}

/* Título de localização */
.locationTitle {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--primary-color);
}

/* Tabela de registros */
.registrosTable {
  width: 100%;
  border-collapse: collapse;
}

.registrosTable th,
.registrosTable td {
  border: 1px solid var(--border-color);
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

th {
  padding: 0.5rem 0.25rem;
}

.registrosTable th:nth-child(1),
.registrosTable td:nth-child(1) {
  padding: 0px;
}

.registrosTable th {
  background-color: var(--button-background);
  color: white;
  font-size: 0.75rem;
}

.registrosTable td {
  background-color: var(--input-background);
  font-size: 0.625rem;
}

.petThumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: block;
}

.alimentacaoIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedingIcon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-right: 4px;
  transition: all 0.2s ease;
}

.commentIcon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.commentIcon:hover,
.feedingIcon:hover {
  transform: scale(1.1);
}

/* Modal de alimentação */
.modalContent {
  max-height: 50vh;
  overflow-y: auto;
  width: fit-content;
}

.mealTimeSelection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mealTimeSelection label {
  cursor: pointer;
  margin-right: 10px;
}

.mealTimeRadio {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 20%;
}

/* Itens de alimentação do pet */
.petFeedingItem {
  display: grid;
  grid-template-columns: 1.25fr 1fr 2fr 1fr; /* Ajuste nas proporções das colunas */
  align-items: center;
  margin-bottom: 10px;
  gap: 0.25rem;
}

.petFeedingItem span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

/* Seleção de status de alimentação */
.feedingStatusSelection,
.feedingStatusDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedingStatusSelection label {
  margin-right: 5px;
  cursor: pointer;
}

.feedingStatusSelection input[type="radio"] {
  display: none;
}

.feedingStatusSelection img {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.feedingStatusSelection input[type="radio"]:checked + img {
  opacity: 1;
}

/* Input de observação */
.observationInputContainer {
  /* O grid controla a largura */
  align-self: center;
  margin: 0;
}

.observationInput {
  width: 100%;
  border-radius: 20px;
}

.observationInput input {
  width: 100%;
  border-radius: 20px;
}

.observationInput input:disabled {
  width: 100%;
  border-radius: 20px;
}

/* Botão */
.petFeedingItem button {
  width: 100%;
  padding: 0.40rem 0.75rem;
  cursor: pointer;
  background-color: var(--button-background);
  color: white;
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s;
  text-align: center;
}

.petFeedingItem button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
  transition: none;
}

.petFeedingItem button:not(:disabled):hover {
  background-color: var(--button-hover-background);
}
