.registerContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--container-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 14px;
}

.select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--button-hover-background);
}

button {
  padding: 10px;
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-background);
}
