.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .label {
    font-size: 14px;
    color: var(--text-color);
  }
  
  .select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--button-hover-background);
    background-color: var(--button-background);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
  }
  