.usuariosContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--container-background);
  color: var(--text-color);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.usuariosTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.usuariosTable th,
.usuariosTable td {
  border: 1px solid var(--button-hover-background);
  padding: 10px;
  text-align: left;
}

button {
  padding: 10px;
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-background);
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .emailColumn {
    display: none;
  }

  .usuariosTable th, .usuariosTable td {
    font-size: 0.8rem;
  }
  
  button {
    padding: 5px;
    font-size: 0.8rem;
  }

  .usuariosContainer {
    max-width: 95vw;
  }
}
