table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: var(--button-background);
  color: var(--button-color);
}

td {
  background-color: var(--background-color);
  color: var(--text-color);
}

select, input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--button-hover-background);
  background-color: var(--button-background);
  color: var(--button-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-background);
}
