.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  background-color: var(--input-background);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--input-border);
  background-color: var(--input-background);
}

.button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 360px;
  text-align: center;
  display: block;
  margin: 20px auto;
}
