.controle {
  text-align: center;
  padding: 50px;
}

.petList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.petCard {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
