.controle {
  text-align: center;
  padding: 50px;
}

.petList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.petCard {
  background-color: var(--input-background);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
