.header {
  background-color: var(--button-background);
  color: var(--button-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.li {
  margin-right: 20px;
}

.link {
  color: var(--button-color);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--button-hover-background);
}

.themeToggle {
  background: none;
  border: none;
  color: var(--button-color);
  font-size: 24px;
  cursor: pointer;
}
